@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

*{
  background-color: #f0f0f0;
  margin: 0;
}
/* Implementation des classes pour les cases selectioné */

.orange{
  background-color: orange;
}
.blue{
  background-color: blue;
}
.green{
  background-color: green;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}

/* Css de l'application en général*/
#root{
  display: grid;
  justify-items: center;
  h1{
    font-family: Bitcount Grid Double Ink;
    font-size: 60px;
  }
  P{
    font-family: ZCOOL QingKe HuangYou;
    font-size: 20px;
  }
}
.btn-div{
  display: flex;
  gap: 20px;
}
.game-mode{
  padding: 16px 40px;
  margin: 20px 0;
  border-radius: 14px;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(247, 99, 178, 0.63);
  &:hover{
    background-color: deeppink;
  }
}
.board{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  
  button{
    height: 100px;
    width: 100px;
    border: 0.5px solid;
    span{
      color: rgb(255, 255, 255);
    }
  }
}